<section>
  <h2>Vamos descobrir o quão desafiadora é uma linguagem:</h2>

  <label for="languages">Escolha uma linguagem: </label>
  <input
    type="text"
    list="languages"
    [(ngModel)]="textInput"
    (change)="chooseLanguage($event)"
  />

  <datalist id="languages">
    <option *ngFor="let v of languageList" [value]="v.name">
      {{ v.name }}
    </option>
  </datalist>

  <p>
    Aprender {{ !language ? '_____' : language.name }} é
    {{ !language ? '_____' : language.quality }}.
  </p>

  <br />
  <br />
  <br />

  <!-- Imagem  meme bug vs feature -->
  <img src="https://bit.ly/3shFijr" alt="bugVsFeature" width="368" />
</section>
